<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书馆登录页面</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}"></script>
</head>
<body class="login-bg">

<!--<p1>Hello World!</p1>-->

<!--<hr>-->

<div class="login layui-anim layui-anim-up">
    <div class="message">图书馆管理账号登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" th:action="@{/login}" >
<!--        <span th:text="${session.msg}" style="color: red" ></span>-->
        <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" required>
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input" required>
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>
</div>

<script th:inline="javascript">


    var msg = [[${session.msg}]];
    if (msg != null){
        alert(msg);
    }




</script>

</body>
</html>