<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qian.springbootlibrary.mapper.BookMapper">
    <insert id="addBook" parameterType="com.qian.springbootlibrary.pojo.Book">
        INSERT INTO `library`.`book` (`bookname`, `bookprice`, `publishdate`,`publisher`,`ISBN`) values (#{bookname},#{bookprice},#{publishdate},#{publisher},#{ISBN});
    </insert>

    <update id="updateBook" parameterType="com.qian.springbootlibrary.pojo.Book">
# UPDATE book SET bookname = '大学词典',
# bookprice = '1',
# 		publishdate = '2021-01-22',
# 		publisher = '1',
# 		ISBN = '2'
#  WHERE id = 3;
        update library.book
        set bookname=concat('"',#{bookName},'"'),
            bookprice=concat('"',#{bookPrice},'"'),
            publishdate=concat('"',#{publishDate},'"'),
            publisher=concat('"',#{publisher},'"'),
            ISBN=concat('"',#{ISBN},'"')
        where id=#{id}
    </update>

    <delete id="deleteBook" parameterType="int">
        delete from library.book where id = #{id}
    </delete>

    <select id="getAllBook" resultType="com.qian.springbootlibrary.pojo.Book">
        select * from library.book
    </select>

    <select id="getBookById" resultType="com.qian.springbootlibrary.pojo.Book" parameterType="int">
        select * from library.book where id = #{id}
    </select>
</mapper>