<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qian.springbootlibrary.mapper.UserMapper">
    <insert id="addUser">
#     INSERT INTO `library`.`user` (`username`, `password`, `root`) VALUES ('dgqyushen01', 'A205b', '1');
INSERT INTO `library`.`user` (`username`, `password`, `root`) VALUES (#{username}, #{password}, ${root});
    </insert>

    <insert id="addUserInfo">
        insert into library.userinfo(id, city, email, sex) VALUES (#{id},#{city},#{email},#{sex});
    </insert>

    <update id="updateUser" parameterType="com.qian.springbootlibrary.pojo.User">
        update library.user
        set username=#{username},
            password=#{password},
            root=#{root}
        where id = #{id};
    </update>
    <update id="setUserPersonalId" parameterType="map">
        update library.user
        set personal_id=#{personal_id}
        where id = #{id};
    </update>

    <!--    <update id="setUserPersonalId" parameterType="">-->
<!--        -->
<!--    </update>-->

    <delete id="deleteUser" parameterType="int">
        delete from library.user where id = #{id};
    </delete>

    <select id="getAllUser" resultType="com.qian.springbootlibrary.pojo.User">
        select * from library.user where 1=1;
    </select>
    <select id="getUserById" resultType="com.qian.springbootlibrary.pojo.User" parameterType="int">
        select * from library.user where id = #{id};
    </select>
    <select id="getUserByUserName" resultType="com.qian.springbootlibrary.pojo.User" parameterType="string">
        select * from library.user where username = #{username}
    </select>

    <select id="getAllViewUser" resultType="com.qian.springbootlibrary.vo.ViewUser">
        select a.id, a.username, a.`password`,a.root,b.city,b.email,b.sex
        from `user` a left join userinfo b
        on a.personal_id=b.id;
    </select>


</mapper>